@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, #app {
    height: 100%;
    color: #4b4c4e;
    background-color: whitesmoke;
}

#app {
    display: grid;
    grid-template-rows: 56px 1fr 75px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #3b723a;
    color: #fff;
}

.footer p {
    margin: 0;
}

.footer-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #bd5109;
    color: #fff;
}

.portada{
    background-image: url("../imgs/portada.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1 {
    color: #3f3f3f;
    font-weight: 700;
}

h2 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #689168;
}

.letraVerde {
   color: #154115;
   text-decoration: none;
}

.letraGris {
    color: #3f3f3f;
}

.iconoMas {
    background-image: url(../imgs/iconos/mas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 0.2rem;
}

.iconoCarrito {
    background-image: url(../imgs/iconos/carrito.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0.2rem;
}

.portada p {
    color: #4b4c4e;
    font-size: 1.1rem;
}

.logo-nav {
    background-image: url("../imgs/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 55px;
}

.user-icon{
    background-image: url("../imgs/iconos/user.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
}

.precio {
    font-weight: 500;
    color: #b16202;
    font-size: 1.1rem;
    padding: 0.5rem;
    text-align: center;
    display: block;
    margin: auto;
    cursor: pointer;
}

.catalogo {
    width: calc(33.3% - 2rem);
    margin: 1rem;
    border: none;
}

.bg-nav {
    background-color: #edf7ed;
}
.bg-verde-screen {
    background-color: #8daf8d85;
}

.bg-verde {
    background-color: #437543;
}
.bg-verde:hover {
    background-color: #436143;
}
.bg-verde:active {
    background-color: #436143;
}

.link {
    color: #b16202;
    font-weight: 700;
    text-decoration: none;
}
.link:hover {
    color: #a55c0e;
    font-weight: 700;
    text-decoration: none;
}
@media screen and (min-width:576px) {}

@media screen and (min-width:993px) {}
